@import "node_modules/typeface-lato/index.css"
@import "node_modules/codemirror/lib/codemirror.css"
@import "node_modules/codemirror/addon/lint/lint.css"
@import "node_modules/codemirror/theme/darcula.css"

.card-header
  padding 0.5rem 1rem

code
  font-size 95%
  color inherit

.bi
  width 1em
  height 1em

h1[id], h2[id], h3[id], h4[id]
  .anchor
    font-size 0.85em
    margin-left -1em
    color #ccc

    .bi
      margin-top -0.1em
  
  @media (max-width: 575.98px)
    &:after
      display block
      content ""
      clear both
    .ttl
      float left
    .anchor
      margin-left 0.2em

  &:not(:hover) .anchor .bi
    visibility hidden

.card.collapsible
  &:not(.collapsed) .card-text
    display none
  .card-header
    cursor pointer
    &:hover
      color #00bc8c
    .bi
      display inline-flex
      align-self center

  // Switch between collapse and expand icons
  &.collapsed .icon-arrows-expand
    display none
  &:not(.collapsed) .icon-arrows-collapse
    display none

.CodeMirror
  height auto

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like
  word-break break-all

#outputs
  .CodeMirror-cursor
    display none
h1
  font-weight 300
  font-size 3.5rem
  margin-bottom 1rem

#intro
  p
    font-weight 300
    font-size 1.171875rem

  @media (min-width: 576px)
    p:last-child
      font-size inherit

#error
  display none
  font-family monospace
  white-space break-spaces
  word-wrap break-word

#outputs
  display none

#output-address
  font-family monospace
  white-space break-spaces
  word-wrap break-word

#share-box
  width auto
  flex-grow 1

#ref
  h2
    margin-bottom 0.5em
  h3
    margin 1.3em 0 0.5em 0
    font-weight 300
  .lead blockquote
    font-size 1rem
  .card
    background #2B2B2B
  .card-body
    padding 0.5rem
  .row p
    margin-bottom 0.2rem
    font-weight 300
    font-size 1.05rem
  blockquote
    border-left 0.25em solid #444
    padding 0 1em
    color #888
  pre
    padding 4px
    word-wrap break-word
    white-space pre-wrap
    word-break break-all
    font-size inherit
  button
    position relative
    float right
    margin-top -32px
    margin-right 4px
    font-size 0.8em
    padding 0.2em 0.4em
    z-index 3

footer
  p
    margin-bottom 0
  a
    word-wrap break-word
  a em
    font-style normal
    font-family apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbo

  @media (min-width: 768px)
    display flex
    justify-content space-between
